<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon" />
    <title>Inicio - Proyecto Taller Redes</title>
    <!--CARGANDO BOOTSTRAP-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <nav>
        <nav class="navbar navbar-dark bg-dark">
            <a href="/personas" class="navbar-brand">Datos del Personal</a>
            <a href="/modelo" class="navbar-brand">Modelo ML</a>
            <a href="/entradas" class="navbar-brand">Entradas</a>
        </nav>
    </nav> 
</body> 
</html>